COMPOSE_PROJECT_NAME=ouranos-services

MONGO_USERNAME=mongo
MONGO_PASSWORD=mongo
POSTGRES_USER=psql
POSTGRES_PASSWORD=psql
RABBITMQ_USERNAME=rabbitmq
RABBITMQ_PASSWORD=rabbitmq
OURANOS_ML_URL=http://localhost:8000
OSRS_WIKI_USER_AGENT="price and volume tracker - %40discordname"
HERMES_SYSTEM_PROMPT="You are a helpful assistant."